# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Django
*.log
media/
staticfiles/

# Environment variables / secrets
.env

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
